In [2]:
import pandas as pd
import numpy as np

In [15]:
# 1.1.	How to create Series with nd array
arr=np.array([10,15,18,22])
s = pd.Series(arr)
print(s)

0    10
1    15
2    18
3    22
dtype: int64

In [16]:
# 1.2.	How to create Series with Mutable index
arr=np.array(['a','b','c','d'])
s=pd.Series(arr,
index=['first','second','third','fourth'])
print(s)

first     a
second    b
third     c
fourth    d
dtype: object

In [17]:
# 1.3.	Creating a series from a Dictionary
d= {'Name':'Sanio Luke', 'Roll No':'35', 'Designation':'Android Developer'}
s= pd.Series(d)
print(s)

Name                  Sanio Luke
Roll No                       35
Designation    Android Developer
dtype: object

In [18]:
# 1.4.	Print all the values of the Series by multiplying them by 2.
s= pd.Series([1,2,3,4,5])
print(s*2)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [19]:
# 1.5.	Print Square of all the values of the series.
s= pd.Series([1,2,3,4,5])
print(s**2)

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [20]:
# 1.6.	Print all the values of the Series that are greater than2
s= pd.Series([1,2,3,4,5])
print(s[s>=4])

3    4
4    5
dtype: int64

In [21]:
# 1.7.	Addition of two series
s1= pd.Series([1,2,3,4,5],['a','b','c','d','e'])
s2= pd.Series([49,48,47,46,45],['a','b','c','d','e'])
print(s1+s2)

a    50
b    50
c    50
d    50
e    50
dtype: int64

In [22]:
# 1.8.	Print the first and last 5 elements of a series
arr= pd.array([10,45,53,81,2,23,86,24,44,21])
s= pd.Series(arr)
print(f"The array is - {arr}\n")
print("First 5 Numbers in the given array are - ")
print(s.head(5))

print("Last 5 Numbers in the given array are - ")
print(s.tail(5))

The array is - <IntegerArray>
[10, 45, 53, 81, 2, 23, 86, 24, 44, 21]
Length: 10, dtype: Int64

First 5 Numbers in the given array are -
0    10
1    45
2    53
3    81
4     2
dtype: Int64
Last 5 Numbers in the given array are -
5    23
6    86
7    24
8    44
9    21
dtype: Int64

In [23]:
# 1.9.	Print the values from index 0 to 5
arr= np.array([10,15,20,25,30,75,35,57,22,11])
s= pd.Series(arr)
print('The given array is ')
print(s)
print("The values from 0 to 5 are -")
print(s[:5])

The given array is
0    10
1    15
2    20
3    25
4    30
5    75
6    35
7    57
8    22
9    11
dtype: int64
The values from 0 to 5 are -
0    10
1    15
2    20
3    25
4    30
dtype: int64

In [24]:
# 1.10.	Selection Using loc, iloc index label
arr= np.array([10,15,20,25,30])
s= pd.Series(arr)
print('The given array is ')
print(s)
print(s.iloc[:2])
print(s.iloc[2:3])

The given array is
0    10
1    15
2    20
3    25
4    30
dtype: int64
0    10
1    15
dtype: int64
2    20
dtype: int64

In [25]:
# 1.11.	Retrieve subsets of data using slicing
arr= pd.Series([10,15,20,25,30],['A','B','C','D','E'])
s= pd.Series(arr)
print('The given array is ')
print(s)

print(s[1:5:2])

The given array is
A    10
B    15
C    20
D    25
E    30
dtype: int64
B    15
D    25
dtype: int64

In [26]:
# 1.12. create Dataframe From Series
print(pd.DataFrame(pd.Series([1,2,3,4,5,6,7,8,9])))

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9

In [27]:
# 1.13. DataFrame from List of Dictionaries
print(pd.DataFrame({'name':[2,4,5,7,8], 'new':[4,6,8,9,1]}))

   name  new
0     2    4
1     4    6
2     5    8
3     7    9
4     8    1

In [28]:
# 1.14. Display the first 5 rows of data frame
print(pd.DataFrame({'name':[2,4,5,7,8,5,2,4], 'new':[4,6,8,9,1,7,9,1]}).head())

   name  new
0     2    4
1     4    6
2     5    8
3     7    9
4     8    1

In [29]:
# 1.15. Select the last two columns of the data frame
print(pd.DataFrame({'name':[2,4,5,7,8,5,2,4], 'new':[4,6,8,9,1,7,9,1], 'value':[1,2,3,4,5,6,7,8]}).iloc[: , 1:])

   new  value
0    4      1
1    6      2
2    8      3
3    9      4
4    1      5
5    7      6
6    9      7
7    1      8

In [30]:
# 1.16. Add two data frames
print(pd.DataFrame({'name':[2,4,5,7,8,5,2,4], 'new':[4,6,8,9,1,7,9,1]})+ pd.DataFrame({'name':[2,4,5,7,8,5,2,4], 'new':[4,6,8,9,1,7,9,1]}))

   name  new
0     4    8
1     8   12
2    10   16
3    14   18
4    16    2
5    10   14
6     4   18
7     8    2

In [31]:
# 1.17. Demonstrate deletion, and renaming of columns
val=pd.DataFrame({'name':[2,4,5,7,8,5,2,4], 'new':[4,6,8,9,1,7,9,1], 'value':[1,2,3,4,5,6,7,8], 'value2':[1,2,3,4,5,6,7,8]})
print(val.drop('name',axis=1))
val.rename(columns={'name':'name2'}, inplace=True)
print(val)

   new  value  value2
0    4      1       1
1    6      2       2
2    8      3       3
3    9      4       4
4    1      5       5
5    7      6       6
6    9      7       7
7    1      8       8
   name2  new  value  value2
0      2    4      1       1
1      4    6      2       2
2      5    8      3       3
3      7    9      4       4
4      8    1      5       5
5      5    7      6       6
6      2    9      7       7
7      4    1      8       8

In [32]:
# 1.18. Demonstrate concat, Merge operations in data frame
print(pd.concat([pd.DataFrame({'name':[2,4,5,7,8,5,2,4], 'new':[4,6,8,9,1,7,9,1]}),pd.DataFrame({'name':[2,4,5,7,8,5,2,4], 'new':[4,6,8,9,1,7,9,1]})], ignore_index=True))

    name  new
0      2    4
1      4    6
2      5    8
3      7    9
4      8    1
5      5    7
6      2    9
7      4    1
8      2    4
9      4    6
10     5    8
11     7    9
12     8    1
13     5    7
14     2    9
15     4    1

In [33]:
data1 = {'key': ['K0', 'K1', 'K2', 'K3'],'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 'Age':[27, 24, 22, 32],} 
data2 = {'key': ['K0', 'K1', 'K2', 'K3'], 'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']} 
df = pd.DataFrame(data1)
df1 = pd.DataFrame(data2) 
# print(df, "\n\n", df1) 
print(pd.merge(df, df1, on='key'))

  key    Name  Age    Address Qualification
0  K0     Jai   27     Nagpur         Btech
1  K1  Princi   24     Kanpur           B.A
2  K2  Gaurav   22  Allahabad          Bcom
3  K3    Anuj   32    Kannuaj        B.hons

In [34]:
# 1.19. Write a Pandas program to join the two given dataframes along rows and assign all data

s1 = pd.DataFrame({'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 'marks': [200, 210, 190, 222, 199]})
s2 = pd.DataFrame({'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 'marks': [201, 200, 198, 219, 201]})
print("Original DataFrames:")
print(s1)
print("-------------------------------------")
print(s2)
print("\ntwo dataframes along rows:")
result_data = pd.concat([s1, s2])
print(result_data)

Original DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
-------------------------------------
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

two dataframes along rows:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

In [35]:
# 1.20. save dataframe to csv file
result_data.to_csv('output.csv')
data=pd.read_csv('output.csv')
print(data)

   Unnamed: 0 student_id              name  marks
0           0         S1  Danniella Fenton    200
1           1         S2      Ryder Storey    210
2           2         S3      Bryce Jensen    190
3           3         S4         Ed Bernal    222
4           4         S5       Kwame Morin    199
5           0         S4  Scarlette Fisher    201
6           1         S5  Carla Williamson    200
7           2         S6       Dante Morse    198
8           3         S7    Kaiser William    219
9           4         S8   Madeeha Preston    201